@import "tailwindcss";

@theme {
  --font-sans: "Manrope", sans-serif;
  --font-serif: "Playfair Display", serif;

  /* On garde l'esprit Midnight, mais on assure de bons contrastes */
  --color-midnight: #000000; /* Un poil plus clair que le précédent #0B0C15 */
  --color-midnight-light: #1e2030; /* Pour les cartes et sections */

  /* Une couleur d'accent dorée/sable pour réchauffer le bleu froid (optionnel mais chic) */
  --color-accent: #e2d1c3;
}

body {
  background-color: var(--color-midnight);
  /* On force le texte en blanc cassé (très lisible) par défaut */
  color: #f1f5f9;
  /* Lissage des polices pour un rendu plus fin sur Mac/Windows */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
